[user]
	name = Nilso Junior
	email = 162613094+Nilsojunior@users.noreply.github.com

[init]
	defaultBranch = main

[push]
    autoSetupRemote = true

[url "https://github.com/nilsojunior/"]
    insteadOf = "nj:"

[url "https://github.com/"]
    insteadOf = "gh:"

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
