* {
    font-family: "Inter ExtraBold";
    font-size: 14px;
    color: @text;
    margin: 2px 8px 2px 8px;
}

@import "theme.css";

window#waybar {
    background: @main-bg;
    border-radius: 7px;
}

tooltip {
    background: @main-bg;
    color: @widget-bg;
    border-radius: 7px;
    border-width: 0px;
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

#custom-power,
#custom-notification,
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-nvidia,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    background: @widget-bg;
    opacity: 1;
    margin: 3px;
    padding: 7px;
    border-radius: 5px;
}

#clock {
    color: @pink;
}
#custom-gpuinfo,
#custom-nvidia,
#nvidia-gpu {
    color: @maroon;
}
#cpu,
#custom-cpuinfo,
#custom-cpu {
    color: @teal;
}
#custom-spotify {
    color: @mauve;
}
#bluetooth {
    color: @sapphire;
}
#network {
    color: @mauve;
}
#pulseaudio {
    color: @lavender;
}
#pulseaudio.microphone {
    color: @pink;
}
#custom-notification {
    color: @rosewater;
}

#custom-power {
    color: @blue;
}

#backlight {
    color: @yellow;
}

#custom-notification,
#custom-power {
    padding-right: 12px;
    padding-left: 9px;
}

#battery.critical {
    color: @red;
}

#battery.warning {
    color: @yellow;
}

#battery.good {
    color: @green;
}
