* {
    font-family: "Inter ExtraBold";
    font-size: 14px;
}

@import "theme.css";

window#waybar {
    background: @main-bg;
    border-radius: 7px;
}

tooltip {
    background: @main-bg;
    color: @widget-bg;
    border-radius: 7px;
    border-width: 0px;
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

#clock {
    color: @pink;
}
#custom-gpuinfo,
#custom-nvidia,
#nvidia-gpu {
    color: @maroon;
}
#cpu,
#custom-cpuinfo,
#custom-cpu {
    color: @teal;
}
#custom-spotify {
    color: @mauve;
}
#network {
    color: @sky;
}
#pulseaudio {
    color: @lavender;
}
#pulseaudio.microphone {
    color: @pink;
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-nvidia,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    background: @widget-bg;
    opacity: 1;
    margin: 5px 0px 5px 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#custom-padd {
    margin: 0px;
}

#custom-r_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 3px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 3px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 9px;
    padding-left: 3px;
}
