* {
    background-image: none;
    box-shadow: none;
    font-family: "Inter ExtraBold";
    font-size: 15pt;
}

window {
    background-color: transparent;
}

button {
    border-radius: 0px;
    border-color: transparent;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
    background-color: rgba(24, 24, 37, 0.8);
    border-style: solid;
    /* border-width: 2px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    /* padding-bottom: 80px; */
}

button:focus,
button:active,
button:hover {
    /* Mantle */
    /* background-color: rgba(24, 24, 37, 0.75); */
    background-size: 40%;
    outline-style: none;
    background-color: rgba(255, 255, 255, 0.1);
}

#lock {
    background-image: url("icons/lock.svg");
    border-radius: 70px 0px 0px 70px;
}

#suspend {
    background-image: url("icons/suspend.svg");
}

#shutdown {
    background-image: url("icons/shutdown.svg");
}

#reboot {
    background-image: url("icons/reboot.svg");
}

#logout {
    background-image: url("icons/logout.svg");
}

#bios {
    background-image: url("icons/hibernate.svg");
    border-radius: 0px 70px 70px 0px;
}
